/** {
	box-sizing: border-box;
}
*/
body {
	width: 100%;


}

.wrapper {
	width: 60%;
	margin:auto;
	padding:4%;
}

.navbar {
	width: 100%;
	background-color: #FFB4B0;
	border: 2px solid black;
}
.navItem {
	display: inline-block;

}
.navbar li {
	list-style: none;
	padding: 3px;
}



.leftColumn {
	background-color: #4DD7FA;
	margin-top: 5px;
	border: 2px solid black;
	display: inline-block;
	width:27%;
	margin-right: 2.5px;
	/*padding: 1.5%;*/

}

#checkboxes {
	padding: 5px;
}

.choices {
	padding: 3%;
}

.rightColumn {
	background-color: #FEFAC0 ;
	margin-top: 5px;
	margin-left: 2.5px;
	border: 2px solid black;
	display: inline-block;
	width:71%;
	/*padding: 1.5%;*/
}

.song-name {
	padding-left: 7px;
}
.song-info {
	padding-left: 7px;
}



