body {
	margin: 0;
	padding: 0;
	width: 90%;
}

#wrapper {
	width: 70%;
	margin:20px auto;

}

.clear {
    clear: both;
}

.topbar {
	
	left: 0;
	background-color: #FFB4B0;  
	border: 2px solid;
	padding-top: 0px 10px;
	margin-top: 10px 10px 10px 10px;
	
	
}
.topbar ul {
    padding-left: 5px;
}


.topbar li {
	list-style-type: none;
	float: left;
	padding: 0px 0px 2px 2px;
	margin: 2px;


}

.topbar li a {
    color: black;
    text-decoration: none;
}
.topbar li a:visited {
    color: blue;
}


#article {
	width: 100%;
    margin-top: 5px ;
    padding-bottom: 5px;
}

	
#left-bar {
	background-color: #4DD7FA ;
	
	display: inline-block;
	border: 2px solid;
	width: 20%;
    height: 100%;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 25px;
    /*margin-left: 20;*/
    
}	

#right-bar {
	background-color: #FEFAC0;
	border: 2px solid;
	display: inline-block;
    width: 75%;
    height: 100%;
    padding-left: 10px;
    padding-bottom: 3px;
    margin-left: 9px;
    margin-top: 10px;

}

.choices {
    margin:18px 0px;
    padding-top: 4px;
}


.song-name  {
    color: #785616;
    font-family: sans-serif;

}	

.song-info {
    color: #785616;
    font-family: sans-serif;
}


#checkboxes {
    padding-right:3px;
    padding-left:3px;
}


#checkbox-left {
    display: inline-block;
    width: 50%;
}

#checkbox-right {
    display: inline-block;
     
       
}





	
